body {
    background-color: aqua;
    text-align: center;
}

h1 {
    font-size: 45;
}

h2 {
    font-size: 45;
}

h3 {
    font-size: 45;
}

h4 {
    font-size: 67;
}

h5 {
    font-size: 67;
}

h6 {
    font-size: 67;
}
